apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

# This will install notifications directly
resources:
  # https://argocd-notifications.readthedocs.io/en/stable/#kustomize-getting-started
  - github.com/argoproj-labs/argocd-notifications/manifests/controller?ref=v1.2.0
  
# This will apply a patch to the notifications
#patches:
#  - path: ./resources/notificationsConfigMap.yaml
#    target:
#      kind: ConfigMap
#      name: argocd-notifications-cm

#patchesJson6902:
#  - patch: |-
#      - op: replace
#        path: /spec/template/spec/containers/0/command
#        value:
#        - /app/argocd-notifications-backend
#        -  controller
#        -  --loglevel
#        -  warn
#    target:
#      kind: Deployment
#      name: argocd-notifications-controller
